.main {
  background-color: rgb(247, 248, 252);
  min-height: 90vh;
  height: auto;
  width: 100%;
}

.section_circle {
  position: relative;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  column-gap: 40px;

}

.circle_lg {
  height: auto;
  grid-row: span 3;
}

/* responsive design */
@media (max-width: 770px) {
  .section_circle {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }

}