.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.input {
  composes: input_large from '../General.module.css';
}

.input_wait {
  composes: input_large from '../General.module.css';
  color: rgb(155, 153, 153);
  background-color: rgb(243, 243, 243);
  cursor: progress;
  border-style: none;
  transition: background-color 1s;
}

.logo {
  position: absolute;
  width: 100px;
  height: 80px;
  right: 100px;
}
.icon_open_eye,
.icon_close_eye {
  position: absolute;
  top: 15%;
  right: 15%;
}
