/* 

  GENERAL STYLES

  1) Buttons
  2) Inputs
  3) Labels
  4) Animations
  5) Textarea
  6) Tooltip

*/

/* 1) Buttons */
.button_active {
  background: var(--blue);
  box-shadow: 0 2px 16px 0 rgba(149, 149, 149, 0.4);
  min-width: 120px;
  width: 35%;
  min-height: 40px;
  max-height: 60px;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 0.8rem;
  color: white;
  border-style: none;
}

.button_process {
  background: #9e9e9e;
  box-shadow: 0 2px 16px 0 rgba(64, 66, 92, 0.4);
  border-radius: 3px;
  font-size: 0.8rem;
  width: 25%;
  min-height: 40px;
  max-height: 60px;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-style: none;
}

/* 2) Inputs */

.input_small {
  outline: none;
  border-style: none;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 3px;
  font-size: 0.8rem;
  margin-left: 10px;
  font-weight: 500;
  color: rgb(92, 92, 92);
  text-indent: 8px;
  height: 25px;
}

.input_small:hover,
.input_small:focus {
  border: 1px solid rgba(15, 127, 219, 0.685);
}
.input_small::placeholder {
  font-size: 0.8rem;
  margin-left: 10px;
  cursor: default;
  font-weight: 500;
  color: rgb(161, 160, 160);
  text-indent: 8px;
}
.input_small_container {
  position: relative;
  max-height: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.input_large {
  min-height: 45px;
  width: 75%;
  margin-bottom: 30px;
  outline: none;
  border-style: none;
  border: 1px solid rgba(194, 191, 191, 0.609);
  border-radius: 7px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-indent: 15px;
}

.input_large:focus {
  border-color: rgba(52, 158, 172, 0.644);
  background: rgba(52, 158, 172, 0.05);
  border: 1.5px solid rgb(194, 191, 191);
}

.input_large:hover {
  border-color: rgba(52, 158, 172, 0.438);
}

.input_large::placeholder {
  color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-indent: 15px;
  font-size: 0.8rem;
}

/* 3) Label */

.label_small {
  font-size: 0.9rem;
  color: rgb(95, 93, 93);
}

.message_error {
  color: grey;
  position: absolute;
  font-size: 0.75rem;
  font-weight: 400;
  bottom: -10px;
  left: 25%;
}

/* 4) Animations */
.animation_update_color {
  animation: update_color 2s;
}
@keyframes update_color {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 5) Textarea */
.textarea_general {
  outline: none;
  border-style: none;
  border: 1px solid rgba(199, 199, 199, 0.637);
  border-radius: 10px;
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 500;
  color: rgb(92, 92, 92);
  text-indent: 8px;
  width: 80%;
  height: 100px;
  background-color: transparent;
  resize: none;
  outline: none;
  box-shadow: 0 1px 7px 0 rgba(64, 66, 92, 0.2);
}
.textarea_general:focus {
  border: 1px solid rgba(20, 134, 187, 0.637);
}

/* 6) tooltip */

.div_tooltip {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 14%;
  text-align: left;
  cursor: pointer;
  height: 25px;
}
.div_tooltip_up {
  display: inline-block;
  position: absolute;
  bottom: 8%;
  left: 14%;
  text-align: left;
  cursor: pointer;
  height: 25px;
}

.right_tooltip {
  min-width: 230px;
  max-width: 400px;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: -50%;
  margin-left: 20px;
  padding: 0;
  color: #000000;
  background: #ffffff;
  font-weight: normal;
  font-size: 11px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}
.right_tooltip_up {
  min-width: 270px;
  max-width: 400px;
  position: absolute;
  z-index: 10;
  top: -300%;
  left: 90%;
  margin-left: 20px;
  padding: 0;
  color: #000000;
  background: #ffffff;
  font-weight: normal;
  font-size: 0.7rem;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.div_tooltip:hover .right_tooltip {
  visibility: visible;
  opacity: 1;
  height: 120px;
  background: #ffffff;
  z-index: 10;
}

.div_tooltip_up:hover .right_tooltip_up {
  visibility: visible;
  opacity: 1;
  height: 120px;
  background: #ffffff;
  z-index: 10;
}

/* RESPONSIVE DESIGN */

@media (max-width: 770px) {
  .input_large {
  }
  .label_small {
  }
}
@media (min-width: 770px) and (max-width: 900px) {
  .input_large {
  }
  .label_small {
    font-size: 0.73rem;
  }
  .right_tooltip_up {
    min-width: 220px;
    max-width: 220px;
    width: 200px;
  }

  .div_tooltip_up:hover .right_tooltip_up {
    height: auto;
    max-height: 120px;
  }
}
@media (min-width: 900px) and (max-width: 2000px) {
  .input_large {
  }
  .label_small {
    font-size: 0.73rem;
  }
  .right_tooltip_up {
    min-width: 220px;
    max-width: 220px;
    width: 200px;
  }

  .div_tooltip_up:hover .right_tooltip_up {
    height: auto;
    max-height: 120px;
  }
}

@media (min-width: 2000px) {
  .input_large {
    font-size: 1rem;
    height: 80px;
    margin-bottom: 20px;
  }
  .input_large::placeholder {
    color: rgb(165, 165, 165);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-indent: 25px;
    font-size: 1.3rem;
  }
  .button_active {
    font-size: 1.5rem;
  }
  .label_small {
    font-size: 1.1rem;
  }
  .div_tooltip_up {
    bottom: 20%;
  }
  .right_tooltip_up {
    min-width: 350px;
    max-width: 500px;
    width: 400px;
    left: 110%;
    top: -500%;
    font-size: 1rem;
  }
  .div_tooltip_up:hover .right_tooltip_up {
    min-height: 120px;
    height: auto;
    max-height: 160px;
  }
}
